.textField.textField {
  width: 554px;
}
.eGNameGPT {
  opacity: 0.8;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.veryCapableButFasterAndLowerCo {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.veryCapableButFasterAndLowerCo2 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.veryCapableButFasterAndLowerCo3 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.selectFileCSV {
  opacity: 0.3;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2661.frame2661 {
  left: 0;
  top: 1303px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  align-items: flex-start;
  background-color: #171717, #3a829e08, #0f0f0f;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame2659 {
  position: absolute;
  left: 486px;
  top: 317px;
  width:max-content;
  height: max-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.frame2650 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame2654 {
  width: min-content;
  height: min-content;
}
.nameYourModel {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame26592 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame26542 {
  width: min-content;
  height: min-content;
}
.description {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2658 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.selectABaseModel {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2657 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame2656 {
  width: min-content;
  height: min-content;
  align-items: flex-end;
  gap: 14px;
}
.frame26572 {
  width: min-content;
  height: min-content;
  align-items: flex-end;
  gap: 14px;
}
.frame2649 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.uploadYourCSVFile {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.modelCard {
  position: absolute;
  left: 50%;
  top: 99px;
  width: 1728px;
  height: 178px;
  align-items: flex-start;
  border-radius: 6px;
  background-color: #171818;
  background-image:   url('./modelCard2.png'); 
  background-position: center;
  background-repeat: no-repeat;

  background-size: auto, auto;
  overflow: hidden;
  box-shadow: -10px -10px 200px 0px #187ea505;
  transform: translateX(-50%);
}
.createATextBasedModel {
  opacity: 0.8;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 171px);
  top: 91px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.trainingCanOnlyStartOnceAllThe {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 486px;
  top: 140px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
