version: "3.2"

services:
  node:
    container_name: cybros-node
    image: cybros-network/node:latest
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
      - "9615:9615"
    volumes:
      - ./data:/data
    command:
      - "--chain=dev"
      - "--rpc-external"
      - "--ws-external"
