html {
	font-size: 16px;
	word-break: break-all;
}

body {
	background-color: #FFFFFF;
}
#app{
	background-color: #FFFFFF;
	border-radius: 12px 12px 0 0;
}
#qrurltest {
	font-size: 0.5rem;
	overflow: auto;
	margin-bottom: 0.3125rem;
}

#noSpreadDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FC0280;
	font-size: 0.875rem;
}

#noSpreadDiv .ui-btn {
	margin-top: 1.25rem;
	width: 50%;
}

.explain {
	margin-top: 1.25rem;
	font-size: 0.75rem;
	color: #666666;
}

#findSpreadDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FC0280;
	font-size: 12px;
}

.qrcode_area {
	color: #00A5E0;
	font-size: 12px;
	margin-top: 0.625rem;
	text-align: center;
	 color: rgba(0,83,208,1);
	 font-weight: 400;
}

#qrcodeDiv1 {
	margin-top: 0.625rem;
	background-color: papayawhip;
}

#qrcodeDiv2 {
	margin-top: 0.625rem;
	background-color: papayawhip;
}

#beSpreadDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333;
	font-size: 12px;
}
.ic_qrcode {
	background: url(../img/icon-saoma.png) no-repeat center;
	background-size: 2rem;
	width: 2rem;
	height: 2rem;
	border: 1px dashed #c7c7c7;
}