.DS_Store
*.swp
.vscode
.idea

**/target
**/*.rs.bk
.wasm-binaries
rls*.log
**/Cargo.lock
!/Cargo.lock

**/node_modules

**/tmp
**/.env

/protocol_impl/data
/protocol_impl/log
/protocol_impl/main.js

/squid/lib
/squid/builds
/squid/**Versions.json
/squid/**Versions.jsonl

/tools/session_keys.json
