.root {
  opacity: 0.6;
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 10.9375%;
  right: 10.9375%;
  top: 10.9375%;
  bottom: 10.9297%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
