.rectangle319.rectangle319 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle3192.png');
  background-size: cover;
}
.chatgpt {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi1.openAi1 {
  background-image:/* webpackIgnore: true */ url('assets/openAi12.png');
}
._1210ETH {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
._321000 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._1 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3192.rectangle3192 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle3193.png');
  background-size: cover;
}
.chatgpt2 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi12.openAi12 {
  background-image:/* webpackIgnore: true */ url('assets/openAi13.jpeg');
}
.openAI {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH2 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
._3210002 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._12 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3193.rectangle3193 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle3194.png');
}
.chatgpt3 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi13.openAi13 {
  background-image:/* webpackIgnore: true */ url('assets/openAi14.png');
}
.openAI2 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH3 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._3210003 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._13 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3194.rectangle3194 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 100%),
    /* webpackIgnore: true */ url('assets/rectangle3195.png');
}
.chatgpt4 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi14.openAi14 {
  background-image:/* webpackIgnore: true */ url('assets/openAi15.png');
}
._1210ETH4 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon4 {
  width: 100%;
  height: 100%;
}
._3210004 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._14 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3195.rectangle3195 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle3196.png');
}
.chatgpt5 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi15.openAi15 {
  background-image:/* webpackIgnore: true */ url('assets/openAi16.png');
}
.openAI3 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH5 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon5 {
  width: 100%;
  height: 100%;
}
._3210005 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._15 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3196.rectangle3196 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle3198.png'),
    /* webpackIgnore: true */ url('assets/rectangle3197.png');
  background-size: cover, cover;
}
.chatgpt6 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi16.openAi16 {
  background-image:/* webpackIgnore: true */ url('assets/openAi17.png');
}
.openAI4 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH6 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon6 {
  width: 100%;
  height: 100%;
}
._3210006 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._16 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3197.rectangle3197 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle3199.png');
}
.chatgpt7 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi17.openAi17 {
  background-image:/* webpackIgnore: true */ url('assets/openAi18.png');
}
.openAI5 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH7 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon7 {
  width: 100%;
  height: 100%;
}
._3210007 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._17 {
  opacity: 0.8;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3198.rectangle3198 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31910.png');
}
.chatgpt8 {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openAi18.openAi18 {
  background-image:/* webpackIgnore: true */ url('assets/openAi19.png');
}
.openAI6 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1210ETH8 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.icon8 {
  width: 100%;
  height: 100%;
}
._3210008 {
  opacity: 0.4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.openAi19.openAi19 {
  background-image:/* webpackIgnore: true */ url('assets/openAi111.png');
}
.openAI7 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.rectangle3199.rectangle3199 {
  background-image: linear-gradient(118.7deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31912.png');
}
._1210ETHTotal {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.modelNameGPT3 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi110.openAi110 {
  background-image:/* webpackIgnore: true */ url('assets/openAi112.png');
}
.openAI8 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH2 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle31910.rectangle31910 {
  background-image: linear-gradient(179.9deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31913.png');
}
.icon12 {
  width: 100%;
  height: 100%;
}
.modelNameGPT32 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren2 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi111.openAi111 {
  background-image:/* webpackIgnore: true */ url('assets/openAi113.png');
}
.openAI9 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH3 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.rectangle31911.rectangle31911 {
  background-image: linear-gradient(179.9deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31914.png');
}
._1210ETHTotal2 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned2 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.modelNameGPT33 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren3 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi112.openAi112 {
  background-image:/* webpackIgnore: true */ url('assets/openAi114.png');
}
.openAI10 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH4 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.rectangle31912.rectangle31912 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31915.png');
}
._1210ETHTotal3 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned3 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.modelNameGPT34 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren4 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi113.openAi113 {
  border-radius: 39px;
  background-image:/* webpackIgnore: true */ url('assets/openAi115.png');
}
.openAI11 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH5 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.rectangle31913.rectangle31913 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31916.png');
}
._1210ETHTotal4 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned4 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.modelNameGPT35 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren5 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi114.openAi114 {
  background-image:/* webpackIgnore: true */ url('assets/openAi116.png');
}
.openAI12 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH6 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.rectangle31914.rectangle31914 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31917.png');
}
._1210ETHTotal5 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned5 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.modelNameGPT36 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren6 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi115.openAi115 {
  background-image:/* webpackIgnore: true */ url('assets/openAi117.png');
}
.openAI13 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH7 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.rectangle31915.rectangle31915 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31920.png'),
    /* webpackIgnore: true */ url('assets/rectangle31919.png'),
    /* webpackIgnore: true */ url('assets/rectangle31918.png');
  background-size: auto, cover, cover, cover;
}
._1210ETHTotal6 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned6 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.modelNameGPT37 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren7 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.openAi116.openAi116 {
  background-image:/* webpackIgnore: true */ url('assets/openAi118.png');
}
.openAI14 {
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._200ETH8 {
  opacity: 0.6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.rectangle31916.rectangle31916 {
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31922.png'),
    /* webpackIgnore: true */ url('assets/rectangle31921.png');
  background-size: auto, cover, cover;
}
._1210ETHTotal7 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 0px 20px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
._19200Owned7 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.modelNameGPT38 {
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gPT3IsTheLanguageModelIMCurren8 {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 276px;
  height: min-content;
  flex-direction: column;
}
.createButton.createButton {
  left: 220px;
  right: initial;
  top: 664px;
  place-content: initial;
}
.unnamed.unnamed.unnamed {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection2.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection2.svg');
}
.createAModel {
  opacity: 0.7;
  color: rgb(22,37,43);
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.createButton2.createButton2 {
  left: 819px;
  top: 1911px;
}
.local_mall.local_mall.local_mall {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection7.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection7.svg');
}
.vector.vector {
  left: 1383px;
  top: 1484px;
}
.creatorSpaceModelCard.creatorSpaceModelCard {
  left: 0;
  top: 0;
}
.group27.group27 {
  position: initial;
}
._20228418174._20228418174 {
  background-image:/* webpackIgnore: true */ url('assets/_202284181743.png');
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/group273.svg');
  mask-image:/* webpackIgnore: true */ url('assets/group273.svg');
}
.search.search.search.search {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection12.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection12.svg');
}
.send.send.send.send {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection13.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection13.svg');
}
.icon25 {
  width: 100%;
  height: 100%;
}
.root {
  top: 0;
  /* left: 500px; */
  position: relative;
  width: 1728px;
  height: 4707px;
  align-items: flex-start;
  background-color: #0d0e0f;
  /* overflow-y: auto;
  overflow-x: hidden; */
}
.nikuowwi_large_dark_chamber_wi {
  position: absolute;
  left: 767px;
  top: 64px;
  width: 1024px;
  height: 1024px;
  background-image: linear-gradient(180deg, #0000 58%, #0d0e0fff 100%),
    linear-gradient(-90deg, #0d0e0f00 0%, #0d0e0fff 100%),
    /* webpackIgnore: true */ url('assets/nikuowwi_large_dark_chamber_wi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
}
.rectangle346 {
  opacity: 0.1;
  position: absolute;
  left: 174px;
  top: 1406px;
  width: 1314px;
  height: 631px;
  border-radius: 20px;
  background-color: #d9d9d90d;
  background-image:/* webpackIgnore: true */ url('assets/rectangle346.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle346:hover {
  cursor: pointer;
}

.nikuowwi_website_UI_background {
  opacity: 0.1;
  position: absolute;
  left: -185px;
  bottom: 1304px;
  width: 894px;
  height: 894px;
  background-image:/* webpackIgnore: true */ url('assets/nikuowwi_website_UI_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line161 {
  opacity: 0.2;
  transform-origin: bottom left;
  position: absolute;
  left: 220px;
  top: 1013.5px;
  width: 1274px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #fff;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame2639 {
  position: absolute;
  left: 220px;
  top: 1234px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame2589 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
}
.modelGallery {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2634 {
  position: absolute;
  left: 220px;
  top: 2195px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 90px;
}
.frame2632 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}
.frame2633 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}
.frame2637 {
  position: absolute;
  left: 220px;
  bottom: 1258px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame2636 {
  height: min-content;
  align-self: stretch;
}
.frame2635 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.featuredModels {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ourRecommendationsForThisWeek {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2587 {
  width: 1259px;
  height: 479px;
  align-items: flex-start;
  gap: 35px;
  overflow-x: auto;
  overflow-y: hidden;
}
.aListOfTheMostPopularModels {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 220px;
  top: 1289px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2641 {
  position: absolute;
  left: 220px;
  bottom: 454px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame26362 {
  width: 1259px;
  height: min-content;
}
.frame26352 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.greatWritingModels {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ourRecommendationsForThisWeek2 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame25872 {
  width: 1259px;
  height: 479px;
  align-items: flex-start;
  gap: 35px;
  overflow-x: auto;
  overflow-y: hidden;
}
.frame2806 {
  position: absolute;
  left: 220px;
  top: 377px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}
.modelMint {
  opacity: 0.7;
  color: #fff;
  font-size: 28px;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.worldSFirstNFTMarketplaceForAI {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 532px;
  height: min-content;
  flex-direction: column;
}
.demoModel {
  opacity: 0.8;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 220px;
  top: 1358px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.catalogue {
  opacity: 0.8;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 220px;
  top: 2128px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2822 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.line34 {
  opacity: 0.14;
  width: 1728px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #387a94;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame2821 {
  position: relative;
  width: 1728px;
  height: 221px;
  align-items: flex-start;
  overflow: hidden;
}
.weEnableEveryCreatorsToTrainMo {
  opacity: 0.6;
  color: #fff;
  font-size: 18px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1069px;
  top: 80px;
  width: 403px;
  height: min-content;
  flex-direction: column;
}
._202284181742 {
  transform-origin: top left;
  position: absolute;
  left: 154.9257px;
  top: 82.7628px;
  width: 43.7741px;
  height: 44.6675px;
  background-image:/* webpackIgnore: true */ url('assets/_20228418174.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/group27.svg');
  mask-image:/* webpackIgnore: true */ url('assets/group27.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 1.0742540029968666px -30.76278915916852px;
  mask-position: 1.0742540029968666px -30.76278915916852px;
  -webkit-mask-size: 60.64257960360968px 60.64257960360968px;
  mask-size: 60.64257960360968px 60.64257960360968px;
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
}
.modelMint2 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 166px;
  top: 113.9639px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle31917 {
  position: absolute;
  left: 222px;
  top: 1426px;
  width: 548px;
  height: 540px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #357289ff 0%, #35728900 53%),
    /* webpackIgnore: true */ url('assets/rectangle31923.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}
.voxellaAI {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 801px;
  top: 1464px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2715 {
  position: absolute;
  left: 816px;
  top: 1791px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.frame2714 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 10px;
}
.frame2582 {
  width: 21px;
  height: 36px;
  overflow: visible;
  filter: drop-shadow(0px 0px 20px #00000040);
}
.icon26 {
  width: 100%;
  height: 100%;
}
._45ETH {
  opacity: 0.9;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2717 {
  opacity: 0.5;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.frame2716 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.per1000PromptEntered {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.backup {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
._8518 {
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1056px;
  top: 1800px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2758 {
  position: absolute;
  left: 816px;
  top: 1575px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.frame2756 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.by {
  opacity: 0.6;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2712 {
  opacity: 0.8;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 8px;
}
.openAi117 {
  width: 23px;
  height: 23px;
  background-image:/* webpackIgnore: true */ url('assets/openAi119.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.openAI15 {
  opacity: 0.9;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.voxellaAIIsAnExceptionalBreakt {
  opacity: 0.4;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 605px;
  height: min-content;
  flex-direction: column;
}
.frame2789 {
  position: absolute;
  left: 1051px;
  top: 1918px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.frame2561 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 8px;
  border-radius: 18px;
}
._5011000Owned {
  opacity: 0.5;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.layers {
  width: 23px;
  height: 23px;
  overflow: visible;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.frame2749 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: flex-start;
}
.tokenID {
  opacity: 0.5;
  color: #fff;
  font-size: 18px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20 {
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle341 {
  opacity: 0.2;
  position: absolute;
  left: 804px;
  top: 1900px;
  width: 459px;
  height: 99px;
  outline: solid 1px #d9d9d9;
  outline-offset: -1px;
  border-radius: 16px;
}
._31 {
  position: absolute;
  left: 220px;
  top: 831px;
  width: 910px;
  height: 182px;
  background-image:/* webpackIgnore: true */ url('assets/_31.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
