.request-trans-card {
    width: 320px;
    margin-bottom: 16px;
    padding: 24px;
    background: rgb(255 255 255 / 50%);
    border-radius: 12px;
    backdrop-filter: blur(28px);

    h6 {
        margin-bottom: 16px;

        @include font($size: 16px, $color: #323335, $weight: 500, $lineH: 24px);
    }
}
