.page-title {
    padding: 25px 0;
    background: url('../../assets/images/bg-pagetitle.png') no-repeat center center;
    background-size: cover;

    h6 {
        @include contentMaxWidth;
    }
}
