  .nav-tabs .nav-link {
    background-color: transparent !important;
    /* background-color: grey !important; */
    color: #FFFFFF !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  
  .nav-tabs .nav-link.active {
    border-bottom: solid 1px white !important;
    background-color: #4f5b66 !important;
  }