.thumb_up.thumb_up {
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/thumb_up.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/thumb_up.svg');
}
.content_copy.content_copy {
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/content_copy.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/content_copy.svg');
}
.promptInputComplete.promptInputComplete {
  left: 231px;
  top: 439px;
}
.auto_read_play.auto_read_play.auto_read_play.auto_read_play.auto_read_play {
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/iconCollection4.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/iconCollection4.svg');
}
.auto_read_play {
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/iconCollection4.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/iconCollection4.svg');
}
.icon {
  width: 100%;
  height: 100%;
}
.root {

  position: fixed;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  background-color: transparent;
  /* overflow: hidden; */
}
.nikuowwi_large_dark_chamber_wi {
  opacity: 0.2;
  position: absolute;
  left: 933px;
  top: 51px;
  width: 795px;
  height: 795px;
  background-image: linear-gradient(180deg, #0000 58%, #0d0e0fff 100%),
    linear-gradient(-90deg, #0d0e0f00 0%, #0d0e0fff 100%),
    /* webpackIgnore: true */ url('/assets/nikuowwi_large_dark_chamber_wi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
}
.nikuowwi_website_UI_background {
  opacity: 0.12;
  position: absolute;
  left: 3px;
  top: 102px;
  width: 1016px;
  height: 1016px;
  background-image: linear-gradient(0deg, #0d0e0fff 0%, #0000 100%), linear-gradient(-90deg, #0d0e0fff 0%, #0000 100%),
    /* webpackIgnore: true */ url('/assets/nikuowwi_website_UI_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
}
.frame431 {
  position: absolute;
  left: 231px;
  top: 135px;
  width: 19.5px;
  height: 19.5px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle338 {
  opacity: 0.2;
  position: absolute;
  left: 231px;
  top: 210px;
  width: 568px;
  height: 120px;
  border-radius: 8px;
  background-color: #ffffff05;
  background-image: linear-gradient(-80.6deg, #4d879e00 0%, #4d879eff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  backdrop-filter: blur(20px);
}
.union {
  position: absolute;
  left: 231px;
  top: 378px;
  width: 1267px;
  height: 524px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.prompt {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 271px;
  top: 401px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle336 {
  position: absolute;
  left: 871px;
  top: 439px;
  width: 627px;
  height: 463px;
  border-radius: 8px;
  background-color: rgb(26,27,28);
}
.anOpenCityIsACityThatHasBeenDe {
  opacity: 0.3;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 911px;
  top: 462px;
  width: 547px;
  height: min-content;
  flex-direction: column;
}
.frame2733 {
  position: absolute;
  left: 911px;
  top: 395px;
  width: 547px;
  height: min-content;
}
.output {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2742 {
  position: absolute;
  right: 270px;
  top: 838px;
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
  gap: 30px;
}
.testRun {
  opacity: 0.4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 271px;
  top: 180px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2811 {
  position: absolute;
  left: 271px;
  top: 226px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.voxellaAI {
  opacity: 0.8;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-stretch: expanded;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 216px;
  height: min-content;
  flex-direction: column;
}
.writerAICapableOfAnyTopicGenre {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 465px;
  height: min-content;
  flex-direction: column;
}
.frame2817 {
  position: absolute;
  left: 911px;
  top: 213px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame2815 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.modelId {
  opacity: 0.7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ftAsdhfhsduifhuasdhfodhfiodsjf {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2816 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.createdTime {
  opacity: 0.7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._202325233545 {
  opacity: 0.3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle345 {
  opacity: 0.6;
  transform-origin: top left;
  position: absolute;
  left: 250px;
  top: 210px;
  width: 19px;
  height: 120px;
  border-radius: 0 9px 7px 0;
  background-image: linear-gradient(180deg, #387b94ff 0%, #d9d9d930 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
