@import "./page-error";
@import "./page-auth";
@import "./page-pricing";
@import "./page-timeline";
@import "./page-doctor-details";
@import "./page-order-details";
@import "./page-review";

//specific HTML pages scss
@import "./homepage";
@import "./coin-details";
@import "./portofolio";
@import "./my-wallets";
@import "./market capital";
@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";






