.numbers.numbers {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection3.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection3.svg');
}
.numbers {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection3.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection3.svg');
}
.icon {
  width: 100%;
  height: 100%;
}
.eGNameGPT {
  opacity: 0.2;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.percent.percent {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection4.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection4.svg');
}
.percent {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection4.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection4.svg');
}
.icon2 {
  width: 100%;
  height: 100%;
}
.eGNameGPT2 {
  opacity: 0.2;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.union.union {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection5.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection5.svg');
}
.eGNameGPT3 {
  opacity: 0.2;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.filterIcons.filterIcons {
  z-index: 0;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.video {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filterIcons2.filterIcons2 {
  z-index: 0;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.video2 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filterIcons3.filterIcons3 {
  z-index: 0;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.video3 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filterIcons4.filterIcons4 {
  z-index: 0;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.video4 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filterIcons5.filterIcons5 {
  z-index: 0;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.video5 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filterIcons6.filterIcons6 {
  z-index: 0;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.video6 {
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.add_photo_alternate.add_photo_alternate.add_photo_alternate.add_photo_alternate {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection8.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection8.svg');
}
.add_photo_alternate {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection8.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection8.svg');
}
.icon10 {
  width: 100%;
  height: 100%;
}
.mintBottomBar.mintBottomBar {
  left: 0;
  bottom: 0;
}
.union2.union2.union2 {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/iconCollection12.svg');
  mask-image:/* webpackIgnore: true */ url('assets/iconCollection12.svg');
}
.icon11 {
  width: 100%;
  height: 100%;
}
.root {
  top:0px;
  left: 100px;
  background-color: 'transparent';
  position: fixed;
  width: 100vw;
  height: 80vh;
  align-items: flex-start;
  background-color: #171717, #3a829e08, #0f0f0f;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame2659 {
  position: absolute;
  left: 486px;
  top: 317px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 65px;
}
.frame2650 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame2654 {
  width: min-content;
  height: min-content;
}
.numberOfTokens {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2785 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame2787 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.frame26542 {
  width: min-content;
  height: min-content;
}
.creatorEarning {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.percentageOfPaymentYouEarnPerT {
  opacity: 0.2;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 426px;
  height: min-content;
  flex-direction: column;
}
.frame2660 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame2786 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.frame26543 {
  width: min-content;
  height: min-content;
}
.floorPrice {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.theBasePricePerEveryIndividual {
  opacity: 0.2;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 425px;
  height: min-content;
  flex-direction: column;
}
.frame27862 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame27863 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.frame26544 {
  width: min-content;
  height: min-content;
}
.category {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.chooseATagThatBestDescribesYou {
  opacity: 0.2;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 425px;
  height: min-content;
  flex-direction: column;
}
.frame2788 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame2784 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.nFTThumbnailImage {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.modelCard {
  position: absolute;
  left: 50%;
  top: 99px;
  width: 1728px;
  height: 178px;
  flex-direction: column;
  place-content: flex-end;
  padding: 91px 486px 17px;
  border-radius: 6px;
  background-color: #171818;
  background-image: linear-gradient(-90deg, #0000 0%, #000f 100%),
    linear-gradient(124.9deg, #37799300 0%, #377993d9 100%), /* webpackIgnore: true */ url('assets/modelCard.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  overflow: hidden;
  box-shadow: -10px -10px 200px 0px #187ea505;
  transform: translateX(-50%);
}
.frame2778 {
  position: absolute;
  left: 417px;
  top: 190px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 30px;
}
.frame431 {
  width: 35px;
  height: 35px;
  align-items: center;
}
.frame27782 {
  width: 22px;
  height: 22px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.frame2777 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.mintYourNFT {
  opacity: 0.8;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: Red Rose, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.modelNameGPT3 {
  opacity: 0.3;
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.text-field-input{

  box-sizing: border-box;
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  
  width: 426px;
  height: 49px;
  
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(0, 0, 0, 0.2);
  border-radius: 8px;

}