.trans-content-box {
  @include layout($horizontal: flex-start);

  .trans-content-sub-card {
    padding: 12px 16px;
    border-radius: 10px;
    background: #f4f4f5;

    &:first-of-type {
      flex: 1;

      .sub-card-title {
        margin-bottom: 24px;

        @include font($weight: 500, $lineH: 20px);
      }
    }

    &:last-of-type {
      flex: 2;
    }
  }

  .sub-card-content {
    @include layout($horizontal: space-between);
    border-radius: 4px;
    background: #fff;
    padding: 8px;
  }

  .trans-content-line {
    margin: 0 16px;
  }
}
