@media (min-width:767px) {
    [data-sidebar-style="modern"] {

        .nav-header {
            width: 10.625rem;
			.brand-logo{
				    justify-content: center;
			}
        }
        .deznav {
			.header-profile{
				margin-bottom: 5px;
				&>a.nav-link{
					display:block;
					text-align:center;
					margin: 0 -10px 15px;
					padding: 15px 10px!important;
					border-radius: $radius;
					img{
						margin-bottom:5px;
					}
					.header-info{
						margin-left:0!important;
						text-align:center;
						small{
							text-align:center!important;
						}
						display:none;
					}
				}
			}
            .metismenu {
				
                &>li {
                    text-align: center;
					
					
                    &>a {
                        padding: 20px 15px 20px 15px;
						margin: 2px 0;
                        // font-weight: 500;
						@include transitionMedium;
						
						
                        &::after {
                            display: none;
                        }

                        &:hover, 
                        &:focus, 
                        &:active, 
                        &.mm-active {
                            &>a {
                                background-color: var(--primary-dark);
                            }
                        }
                    }
					&:hover,
					&.mm-active{
						padding:0;
						&>a{
							background: var(--rgba-primary-1);
							color:var(--primary);
							border-radius: 1rem;
							i{
								color:var(--primary);
							}
						}
					}
                    li {
                        text-align: left;

                        @at-root [direction="rtl"]#{&} {
                            text-align: right;
                        }
                    }
                }

                li {

                    a {
                        padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
						font-size:15px;
                    }
					ul:after{
						content:none;
					}

                    &>ul {
                        height: auto !important;
                    }
                }
                .nav-label{
                    display: none;
                }
            }

            .nav-label {
                display: none;
            }
            

            .nav-text {
                display: block;
                margin-top: 0.3125rem;
            }
			.plus-box,
			.copyright{
				display:none;
			}
        }

        .footer {
            padding-left: 11.9rem;
        }
        .content-body {
            margin-left: 10.9rem;
        }
		
		&[data-layout="horizontal"]{
			.deznav {
				.metismenu {
					 li {
						&>a i{
							padding:0;
							margin:0;
						}
					 }
				}	
			}
		}
    }

    [data-sidebar-style="modern"][data-layout="vertical"] {
		
        .deznav {
            width: 10.625rem;
            left: 0;
			@at-root [direction="rtl"]#{&} {
				left: auto;
				right: 0;
			}  
			
            .slimScrollDiv, 
            .deznav-scroll {
                overflow: visible !important;
            }
        
            .metismenu {
				padding: 10px 30px;
                &>li {
                    &>a{
						padding: 22px 0.6em 15px!important;
                        i{
							padding: 0;
							height:auto;
							width:auto;
							margin:0;
							line-height:1;
							margin-bottom: 5px;
                        }
                    }

                    &>ul {
                        display: none;
                        padding: 1.875rem 0.9375rem;
                    }
                }

                li {
                    position: relative;

                    a {
                        padding:0.625rem 1.5rem;
						&:before{
							content:none;
						}
                    }

                    ul {
                        position: absolute;
                        left: 105%;
                        top: 0;
                        bottom: auto;
                        background-color: $white;
                        border: 1px solid $border;
                        width: 200px;
                        // box-shadow: 2px 3px 10px 0px rgba(119, 119, 119, 0.1);
						
						@at-root [data-theme-version="dark"]#{&} {
							background:$dark-card;
							box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
						}

                        @at-root [direction="rtl"]#{&} {
                            left: auto;
                            right: 105%;
                        }
                    }

                    &:hover {
                        &>ul {
							display: block;
							left: 100%;
							padding: 1rem 0;
							margin-left: 0;
							border: 0;
							box-shadow: 5px 5px 30px 0px rgba(20, 0, 30, 0.10);
							border-radius: $radius;
							
							@at-root [data-theme-version="dark"]#{&} {
								box-shadow: 5px 5px 30px 0px rgba(20, 0, 30, 0.10);
							}
							
                            @at-root [direction="rtl"]#{&} {
                                left: auto;
                                right: 100%;
								box-shadow: -5px 5px 30px 0px rgba(20, 0, 30, 0.10);
                            }  
                        }
                    }
                }
            }
            

            .nav-label {
                display: none;
            }

            .nav-text {
                display: block;
                margin-top: 0;
            }
        }
		
		.nav-control{
			right: -4.25rem;
		}
		.header .header-content{
			padding-left: 6rem;
		}
		
        .menu-toggle {
            .deznav,.nav-header {
                left: -10.625rem;
            }
			.header{
				padding-left:0;
			}
            .content-body {
                margin-left: 0;
            }
        }
    }

    [data-sidebar-style="modern"][data-layout="horizontal"] {
		.nav-header {
			width: 21.75rem;
		}
		.header {
			padding-left: 21.75rem;
		}
		.footer,
		.content-body {
			margin-left:0;
		}
        .deznav {
            .metismenu {

				
                &>li {
                    &>a {
                        padding: 15px 25px 12px 25px;
						margin: 0 2px;
                    }

                    &>ul {
                        top: 4.8rem;
                    }
                }
            }
        }
		
        &[data-container="boxed"] {
            .deznav {
                .metismenu {
    
                    &>li {
                        &>a {
                            padding: 0.8125rem 1.25rem;
                        }
                    }
                }
            }
        }
    }
}