.amphi-layout {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        242.73deg,
        rgb(233 132 176 / 50%) 19.29%,
        rgb(59 199 231 / 50%) 67.76%,
        rgb(0 175 248 / 50%) 128.65%,
        rgb(107 198 251 / 50%) 129.33%,
        rgb(70 140 240 / 50%) 129.33%
    );
}
